@import 'node_modules/bulma/bulma';
@import 'node_modules/sweetalert/dev/sweetalert';
@import 'node_modules/font-awesome/scss/font-awesome';

html,body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: auto;
}

.email-input,
.password-input {
  border-radius: 40px;
  font-size: 20px;
  padding-left: 15px;
  color: #95A5A6;
}
.container{
  padding: 0 50px;
}

.title{
  padding: 25px 0 0;
}

.icon.user,
.icon.password {
  margin: 5px 10px 0 0;
}

.avatar img {
  border-radius: 100px;
  padding: 5px;
  border: 1px solid #dbdbdb;
}

.forgot-password a {
  color: #95A5A6;
  font-weight: bold;
  padding-right: 20px;
}

.login {
  padding-top: 20px;
}

.login button {
  border-radius: 40px;
  font-weight: bold;
}

.neg-margin-top-100{
  margin-top: -100px;
}

.hero.is-dark .section {
  background-color: transparent;
}

.login-wrapper {
  margin: -0.75rem;
  overflow-y: hidden;
}

.hero-banner .hero {
  background: url('/img/frog.jpg') center;
  background-size: cover;
  background-blend-mode: screen;
}

.hero-banner .title {
  display: inline-block;
  background-color: rgba(0,0,0, 0.6);
  padding: 5px;
}
.aside {
  // background-color: #354052;
  margin-right: -10px;
}
.aside .main {
  padding: 30px;
  // color: #6F7B7E;
}
.aside .main .item {
  display: block;
  padding: 10px 0;
  // color: #6F7B7E;
}
.aside .main .item.active {
  // color: #F6F7F7;
}
.aside .main .icon {
  font-size: 19px;
  padding-right: 10px;
}
.name {
  font-size: 1.2em;
  font-weight: lighter;
}
.small-name{
  font-size: 1em;
  font-weight: lighter;
}
.admin-panel {
  padding-bottom: 0;
}
.content {
  display: block;
  background-color: #fff;
  padding: 20px 10px;
}
.hero .tabs ul {
    border-bottom: 1px solid #d3d6db;
}
.select:after{
  display:none;
}
.single-resident{
  margin: 25px 10px 25px;
  width: 25%;
}
.doc-number{
  font-weight:lighter;
}
.quicksearch{
  margin-top: 40px;
}
#residentCreate, #residentEdit{
  margin-top: 40px;
}
.danger{
  color:red;
}
.debit{
  color:red;
}
.credit{
  color:green;
}
table{
    overflow-x: scroll;
}
.wide-table{
  overflow-x: auto;
  padding: 10px;
  font-size: 0.8rem;
}
.select2-container .select2-selection--single{
  height: 35px !important;
}
.padding-40{
  padding:40px;
}
.padding-10-lr{
  padding-left: 10px;
  padding-right:10px;
}
.first{
  margin-left: -10px;
}
.last{
  margin-right: -10px;
}
.align-center{
  align-items: center;
}
.blackish{
  color:#252525;
}
.sub-menu{
  padding-left: 30px;
  font-size: .8em;
  list-style: inherit;
}
.sub-menu>li{
  padding: 5px 0;
}
#reportForm{
  width:100%;
}
.trans_select_form{
  height: 100%;
  padding-top:70px;
}
.intro{
  margin:30px;
  font-size: 1.1em;
}
.single-resident-attributes{
  justify-content: space-between;
}
sup{
  color:$danger;
}
#form-error-list{
  list-style: square;
}
